body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #555;
    font-size: 18px;
    margin: 0;
    text-align: center;
    background: #fe6;
    padding-bottom: 10vh;
}
.hero {
    text-align: center;
}
.hero div {
    padding: 5vh 0;
}
.hero .logo {
    padding: 5vh 0 0;
    height: 30vh;
}
.hero .tagline {
    font-size: 0.8em;
    padding-top: 0;
}
.venue {
    font-size: 1.5em;
    font-weight: 100;
    padding: 12vh 0
}
.heading {
    font-size: 0.8em;
}
.talks {
    text-align: left;
}
.talks div {
    padding: 1vh 0;
}
.speaker {
    font-weight: 100;
}
.half {
    float: left;
    width: 40vw;
    padding-left: 10vw;
}
.right.half {
    float: right;
}
a {
    color: #489DF7;
    text-decoration: none;
}
.mobile {
    display: none;
}
@media screen and (max-width: 700px) {
    .half {
        float: none;
        width: 90vw;
        padding-left: 10vw;
    }
    .speaker, .venue {
        font-weight: 300;
    }
    .mobile {
        display: inline-block;
    }
}
